/* body{
    background-color: blueviolet;
} */

/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
/* (7) */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 /* (3) from google fonts. Open Sans: CSS class for a variable style*/

 /* shared style */
 .font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


/* (6) background color of webpage desighn of portfolio from figma */

/* main style */
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    /* (25)(26) background:#FFF8F3  */
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
/* (7) */
nav{
    width: 71%;
    max-width: 1140px;
    /* (8) */
    /* border: 1px solid red; */
    margin: 0px auto;
    display:flex;
    justify-content: space-between; 
    /* (15) */
    align-items: center;
}

/* (9) */
.logo h2{
    font-size: 45px;
    /* (12) */
    font-weight: 900;
}
/* (11) */
.color-orange{
    color: #FD6E0A;
}
/* (14) */
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    /* (18) */
    align-items: center;
}
/* (15) */
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
/* (17) */
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius:5px;
    font-weight: bold;
    color: white; 
    /* (25) */
    cursor: pointer;
}
/* (30) */
.section-heading {
    max-width: 827px;
    text-align: center;
    /* (34) */
    margin: 0 auto;
}
/* (31) */
.section-heading h2 {
    font: size 35px;
    margin-bottom: 30px;
}
/* (32) */
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    inline-height: 30px;
    color:#757575;
}
/* (18) */
#banner{
    /* border: 1px solid red;(27) */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* (19) */
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
}
/* (20) */
#banner .banner-content h2{
    font-size: 85px;
    font-weight: bold;
    color
}
/* (21)something is wrong */
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}
/* (22) */
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
}
/* (23) */
#banner .banner-content{
    max-width: 585px;
}
/* (24) something is wrong */
#banner .banner-image img{
    max-width: 585px;
    verticle-align: middle;
}
/* (28) */
/* #about {
    padding-top: 130px; (43)
} */
/* (29) */
#about .about-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px; 
}
/* (30) */
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
/* (31) */
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color:#757575;
}
/* (32) */
.about-info .info-card h4{
    font-size: 20px;     
}
/* (34) */
/* #skills {
    padding-top: 130px; (44)
} */
#skills .skills-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
/* (35) */
#skills .skills-container .skill-box {
     display: flex;
     gap: 24px;
}
/* (36) */
.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red;    */
    max-width: 267px;
    /* (40) */
    box-shadow: 0 6px 50px 0 #00000027
}
/* (37) */
.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}
/* (38) */
.skill-card h3 {
    font-size: 20px;
    color:#181818;
    margin-bottom: 20px;
}
/* (39) */
.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 30px;
}
/* (42) */
#skills, #about, #resume {
    padding-top: 130px;
}
/* (45) */

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
/* (46) */
.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
/* (47) */
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
/* (48) */
.resume-card .card-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
/* (49) */
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
/* (50) */
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
/* (51) */
.resume-container hr{
    margin: 30px 0;
}
/* (52) */
.text-center {
    text-align: center;
}

